/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bottom_left_hexagon_name = 'bottom-left-hexagon';
$bottom_left_hexagon_x = 352px;
$bottom_left_hexagon_y = 225px;
$bottom_left_hexagon_offset_x = -352px;
$bottom_left_hexagon_offset_y = -225px;
$bottom_left_hexagon_width = 151px;
$bottom_left_hexagon_height = 133px;
$bottom_left_hexagon_total_width = 697px;
$bottom_left_hexagon_total_height = 574px;
$bottom_left_hexagon_image = '../images/sprites/sprites.png';
$bottom_left_hexagon = 352px 225px -352px -225px 151px 133px 697px 574px '../images/sprites/sprites.png' 'bottom-left-hexagon';
$how_arrow_name = 'how-arrow';
$how_arrow_x = 198px;
$how_arrow_y = 393px;
$how_arrow_offset_x = -198px;
$how_arrow_offset_y = -393px;
$how_arrow_width = 166px;
$how_arrow_height = 34px;
$how_arrow_total_width = 697px;
$how_arrow_total_height = 574px;
$how_arrow_image = '../images/sprites/sprites.png';
$how_arrow = 198px 393px -198px -393px 166px 34px 697px 574px '../images/sprites/sprites.png' 'how-arrow';
$icon_how_1_name = 'icon-how-1';
$icon_how_1_x = 0px;
$icon_how_1_y = 0px;
$icon_how_1_offset_x = 0px;
$icon_how_1_offset_y = 0px;
$icon_how_1_width = 200px;
$icon_how_1_height = 217px;
$icon_how_1_total_width = 697px;
$icon_how_1_total_height = 574px;
$icon_how_1_image = '../images/sprites/sprites.png';
$icon_how_1 = 0px 0px 0px 0px 200px 217px 697px 574px '../images/sprites/sprites.png' 'icon-how-1';
$icon_how_2_name = 'icon-how-2';
$icon_how_2_x = 208px;
$icon_how_2_y = 0px;
$icon_how_2_offset_x = -208px;
$icon_how_2_offset_y = 0px;
$icon_how_2_width = 200px;
$icon_how_2_height = 217px;
$icon_how_2_total_width = 697px;
$icon_how_2_total_height = 574px;
$icon_how_2_image = '../images/sprites/sprites.png';
$icon_how_2 = 208px 0px -208px 0px 200px 217px 697px 574px '../images/sprites/sprites.png' 'icon-how-2';
$icon_how_3_name = 'icon-how-3';
$icon_how_3_x = 416px;
$icon_how_3_y = 0px;
$icon_how_3_offset_x = -416px;
$icon_how_3_offset_y = 0px;
$icon_how_3_width = 200px;
$icon_how_3_height = 217px;
$icon_how_3_total_width = 697px;
$icon_how_3_total_height = 574px;
$icon_how_3_image = '../images/sprites/sprites.png';
$icon_how_3 = 416px 0px -416px 0px 200px 217px 697px 574px '../images/sprites/sprites.png' 'icon-how-3';
$ldquot_name = 'ldquot';
$ldquot_x = 624px;
$ldquot_y = 164px;
$ldquot_offset_x = -624px;
$ldquot_offset_y = -164px;
$ldquot_width = 30px;
$ldquot_height = 21px;
$ldquot_total_width = 697px;
$ldquot_total_height = 574px;
$ldquot_image = '../images/sprites/sprites.png';
$ldquot = 624px 164px -624px -164px 30px 21px 697px 574px '../images/sprites/sprites.png' 'ldquot';
$popup_bottom_name = 'popup-bottom';
$popup_bottom_x = 156px;
$popup_bottom_y = 439px;
$popup_bottom_offset_x = -156px;
$popup_bottom_offset_y = -439px;
$popup_bottom_width = 111px;
$popup_bottom_height = 95px;
$popup_bottom_total_width = 697px;
$popup_bottom_total_height = 574px;
$popup_bottom_image = '../images/sprites/sprites.png';
$popup_bottom = 156px 439px -156px -439px 111px 95px 697px 574px '../images/sprites/sprites.png' 'popup-bottom';
$popup_top_name = 'popup-top';
$popup_top_x = 275px;
$popup_top_y = 439px;
$popup_top_offset_x = -275px;
$popup_top_offset_y = -439px;
$popup_top_width = 90px;
$popup_top_height = 82px;
$popup_top_total_width = 697px;
$popup_top_total_height = 574px;
$popup_top_image = '../images/sprites/sprites.png';
$popup_top = 275px 439px -275px -439px 90px 82px 697px 574px '../images/sprites/sprites.png' 'popup-top';
$project_hexagon_name = 'project-hexagon';
$project_hexagon_x = 198px;
$project_hexagon_y = 225px;
$project_hexagon_offset_x = -198px;
$project_hexagon_offset_y = -225px;
$project_hexagon_width = 146px;
$project_hexagon_height = 160px;
$project_hexagon_total_width = 697px;
$project_hexagon_total_height = 574px;
$project_hexagon_image = '../images/sprites/sprites.png';
$project_hexagon = 198px 225px -198px -225px 146px 160px 697px 574px '../images/sprites/sprites.png' 'project-hexagon';
$projects_right_hexagon_name = 'projects-right-hexagon';
$projects_right_hexagon_x = 624px;
$projects_right_hexagon_y = 106px;
$projects_right_hexagon_offset_x = -624px;
$projects_right_hexagon_offset_y = -106px;
$projects_right_hexagon_width = 46px;
$projects_right_hexagon_height = 50px;
$projects_right_hexagon_total_width = 697px;
$projects_right_hexagon_total_height = 574px;
$projects_right_hexagon_image = '../images/sprites/sprites.png';
$projects_right_hexagon = 624px 106px -624px -106px 46px 50px 697px 574px '../images/sprites/sprites.png' 'projects-right-hexagon';
$projects_top_hexagon_name = 'projects-top-hexagon';
$projects_top_hexagon_x = 624px;
$projects_top_hexagon_y = 0px;
$projects_top_hexagon_offset_x = -624px;
$projects_top_hexagon_offset_y = 0px;
$projects_top_hexagon_width = 73px;
$projects_top_hexagon_height = 98px;
$projects_top_hexagon_total_width = 697px;
$projects_top_hexagon_total_height = 574px;
$projects_top_hexagon_image = '../images/sprites/sprites.png';
$projects_top_hexagon = 624px 0px -624px 0px 73px 98px 697px 574px '../images/sprites/sprites.png' 'projects-top-hexagon';
$rdquot_name = 'rdquot';
$rdquot_x = 662px;
$rdquot_y = 164px;
$rdquot_offset_x = -662px;
$rdquot_offset_y = -164px;
$rdquot_width = 30px;
$rdquot_height = 19px;
$rdquot_total_width = 697px;
$rdquot_total_height = 574px;
$rdquot_image = '../images/sprites/sprites.png';
$rdquot = 662px 164px -662px -164px 30px 19px 697px 574px '../images/sprites/sprites.png' 'rdquot';
$section_green_mobile_name = 'section-green-mobile';
$section_green_mobile_x = 511px;
$section_green_mobile_y = 225px;
$section_green_mobile_offset_x = -511px;
$section_green_mobile_offset_y = -225px;
$section_green_mobile_width = 84px;
$section_green_mobile_height = 90px;
$section_green_mobile_total_width = 697px;
$section_green_mobile_total_height = 574px;
$section_green_mobile_image = '../images/sprites/sprites.png';
$section_green_mobile = 511px 225px -511px -225px 84px 90px 697px 574px '../images/sprites/sprites.png' 'section-green-mobile';
$section_green_name = 'section-green';
$section_green_x = 0px;
$section_green_y = 225px;
$section_green_offset_x = 0px;
$section_green_offset_y = -225px;
$section_green_width = 190px;
$section_green_height = 206px;
$section_green_total_width = 697px;
$section_green_total_height = 574px;
$section_green_image = '../images/sprites/sprites.png';
$section_green = 0px 225px 0px -225px 190px 206px 697px 574px '../images/sprites/sprites.png' 'section-green';
$top_left_hexagon_name = 'top-left-hexagon';
$top_left_hexagon_x = 0px;
$top_left_hexagon_y = 439px;
$top_left_hexagon_offset_x = 0px;
$top_left_hexagon_offset_y = -439px;
$top_left_hexagon_width = 148px;
$top_left_hexagon_height = 135px;
$top_left_hexagon_total_width = 697px;
$top_left_hexagon_total_height = 574px;
$top_left_hexagon_image = '../images/sprites/sprites.png';
$top_left_hexagon = 0px 439px 0px -439px 148px 135px 697px 574px '../images/sprites/sprites.png' 'top-left-hexagon';
$bottom_left_hexagon_2x_name = 'bottom-left-hexagon@2x';
$bottom_left_hexagon_2x_x = 704px;
$bottom_left_hexagon_2x_y = 450px;
$bottom_left_hexagon_2x_offset_x = -704px;
$bottom_left_hexagon_2x_offset_y = -450px;
$bottom_left_hexagon_2x_width = 302px;
$bottom_left_hexagon_2x_height = 266px;
$bottom_left_hexagon_2x_total_width = 1394px;
$bottom_left_hexagon_2x_total_height = 1148px;
$bottom_left_hexagon_2x_image = '../images/sprites/sprites@2x.png';
$bottom_left_hexagon_2x = 704px 450px -704px -450px 302px 266px 1394px 1148px '../images/sprites/sprites@2x.png' 'bottom-left-hexagon@2x';
$how_arrow_2x_name = 'how-arrow@2x';
$how_arrow_2x_x = 396px;
$how_arrow_2x_y = 786px;
$how_arrow_2x_offset_x = -396px;
$how_arrow_2x_offset_y = -786px;
$how_arrow_2x_width = 332px;
$how_arrow_2x_height = 68px;
$how_arrow_2x_total_width = 1394px;
$how_arrow_2x_total_height = 1148px;
$how_arrow_2x_image = '../images/sprites/sprites@2x.png';
$how_arrow_2x = 396px 786px -396px -786px 332px 68px 1394px 1148px '../images/sprites/sprites@2x.png' 'how-arrow@2x';
$icon_how_1_2x_name = 'icon-how-1@2x';
$icon_how_1_2x_x = 0px;
$icon_how_1_2x_y = 0px;
$icon_how_1_2x_offset_x = 0px;
$icon_how_1_2x_offset_y = 0px;
$icon_how_1_2x_width = 400px;
$icon_how_1_2x_height = 434px;
$icon_how_1_2x_total_width = 1394px;
$icon_how_1_2x_total_height = 1148px;
$icon_how_1_2x_image = '../images/sprites/sprites@2x.png';
$icon_how_1_2x = 0px 0px 0px 0px 400px 434px 1394px 1148px '../images/sprites/sprites@2x.png' 'icon-how-1@2x';
$icon_how_2_2x_name = 'icon-how-2@2x';
$icon_how_2_2x_x = 416px;
$icon_how_2_2x_y = 0px;
$icon_how_2_2x_offset_x = -416px;
$icon_how_2_2x_offset_y = 0px;
$icon_how_2_2x_width = 400px;
$icon_how_2_2x_height = 434px;
$icon_how_2_2x_total_width = 1394px;
$icon_how_2_2x_total_height = 1148px;
$icon_how_2_2x_image = '../images/sprites/sprites@2x.png';
$icon_how_2_2x = 416px 0px -416px 0px 400px 434px 1394px 1148px '../images/sprites/sprites@2x.png' 'icon-how-2@2x';
$icon_how_3_2x_name = 'icon-how-3@2x';
$icon_how_3_2x_x = 832px;
$icon_how_3_2x_y = 0px;
$icon_how_3_2x_offset_x = -832px;
$icon_how_3_2x_offset_y = 0px;
$icon_how_3_2x_width = 400px;
$icon_how_3_2x_height = 434px;
$icon_how_3_2x_total_width = 1394px;
$icon_how_3_2x_total_height = 1148px;
$icon_how_3_2x_image = '../images/sprites/sprites@2x.png';
$icon_how_3_2x = 832px 0px -832px 0px 400px 434px 1394px 1148px '../images/sprites/sprites@2x.png' 'icon-how-3@2x';
$ldquot_2x_name = 'ldquot@2x';
$ldquot_2x_x = 1248px;
$ldquot_2x_y = 328px;
$ldquot_2x_offset_x = -1248px;
$ldquot_2x_offset_y = -328px;
$ldquot_2x_width = 60px;
$ldquot_2x_height = 42px;
$ldquot_2x_total_width = 1394px;
$ldquot_2x_total_height = 1148px;
$ldquot_2x_image = '../images/sprites/sprites@2x.png';
$ldquot_2x = 1248px 328px -1248px -328px 60px 42px 1394px 1148px '../images/sprites/sprites@2x.png' 'ldquot@2x';
$popup_bottom_2x_name = 'popup-bottom@2x';
$popup_bottom_2x_x = 312px;
$popup_bottom_2x_y = 878px;
$popup_bottom_2x_offset_x = -312px;
$popup_bottom_2x_offset_y = -878px;
$popup_bottom_2x_width = 222px;
$popup_bottom_2x_height = 190px;
$popup_bottom_2x_total_width = 1394px;
$popup_bottom_2x_total_height = 1148px;
$popup_bottom_2x_image = '../images/sprites/sprites@2x.png';
$popup_bottom_2x = 312px 878px -312px -878px 222px 190px 1394px 1148px '../images/sprites/sprites@2x.png' 'popup-bottom@2x';
$popup_top_2x_name = 'popup-top@2x';
$popup_top_2x_x = 550px;
$popup_top_2x_y = 878px;
$popup_top_2x_offset_x = -550px;
$popup_top_2x_offset_y = -878px;
$popup_top_2x_width = 180px;
$popup_top_2x_height = 164px;
$popup_top_2x_total_width = 1394px;
$popup_top_2x_total_height = 1148px;
$popup_top_2x_image = '../images/sprites/sprites@2x.png';
$popup_top_2x = 550px 878px -550px -878px 180px 164px 1394px 1148px '../images/sprites/sprites@2x.png' 'popup-top@2x';
$project_hexagon_2x_name = 'project-hexagon@2x';
$project_hexagon_2x_x = 396px;
$project_hexagon_2x_y = 450px;
$project_hexagon_2x_offset_x = -396px;
$project_hexagon_2x_offset_y = -450px;
$project_hexagon_2x_width = 292px;
$project_hexagon_2x_height = 320px;
$project_hexagon_2x_total_width = 1394px;
$project_hexagon_2x_total_height = 1148px;
$project_hexagon_2x_image = '../images/sprites/sprites@2x.png';
$project_hexagon_2x = 396px 450px -396px -450px 292px 320px 1394px 1148px '../images/sprites/sprites@2x.png' 'project-hexagon@2x';
$projects_right_hexagon_2x_name = 'projects-right-hexagon@2x';
$projects_right_hexagon_2x_x = 1248px;
$projects_right_hexagon_2x_y = 212px;
$projects_right_hexagon_2x_offset_x = -1248px;
$projects_right_hexagon_2x_offset_y = -212px;
$projects_right_hexagon_2x_width = 92px;
$projects_right_hexagon_2x_height = 100px;
$projects_right_hexagon_2x_total_width = 1394px;
$projects_right_hexagon_2x_total_height = 1148px;
$projects_right_hexagon_2x_image = '../images/sprites/sprites@2x.png';
$projects_right_hexagon_2x = 1248px 212px -1248px -212px 92px 100px 1394px 1148px '../images/sprites/sprites@2x.png' 'projects-right-hexagon@2x';
$projects_top_hexagon_2x_name = 'projects-top-hexagon@2x';
$projects_top_hexagon_2x_x = 1248px;
$projects_top_hexagon_2x_y = 0px;
$projects_top_hexagon_2x_offset_x = -1248px;
$projects_top_hexagon_2x_offset_y = 0px;
$projects_top_hexagon_2x_width = 146px;
$projects_top_hexagon_2x_height = 196px;
$projects_top_hexagon_2x_total_width = 1394px;
$projects_top_hexagon_2x_total_height = 1148px;
$projects_top_hexagon_2x_image = '../images/sprites/sprites@2x.png';
$projects_top_hexagon_2x = 1248px 0px -1248px 0px 146px 196px 1394px 1148px '../images/sprites/sprites@2x.png' 'projects-top-hexagon@2x';
$rdquot_2x_name = 'rdquot@2x';
$rdquot_2x_x = 1324px;
$rdquot_2x_y = 328px;
$rdquot_2x_offset_x = -1324px;
$rdquot_2x_offset_y = -328px;
$rdquot_2x_width = 60px;
$rdquot_2x_height = 38px;
$rdquot_2x_total_width = 1394px;
$rdquot_2x_total_height = 1148px;
$rdquot_2x_image = '../images/sprites/sprites@2x.png';
$rdquot_2x = 1324px 328px -1324px -328px 60px 38px 1394px 1148px '../images/sprites/sprites@2x.png' 'rdquot@2x';
$section_green_mobile_2x_name = 'section-green-mobile@2x';
$section_green_mobile_2x_x = 1022px;
$section_green_mobile_2x_y = 450px;
$section_green_mobile_2x_offset_x = -1022px;
$section_green_mobile_2x_offset_y = -450px;
$section_green_mobile_2x_width = 168px;
$section_green_mobile_2x_height = 180px;
$section_green_mobile_2x_total_width = 1394px;
$section_green_mobile_2x_total_height = 1148px;
$section_green_mobile_2x_image = '../images/sprites/sprites@2x.png';
$section_green_mobile_2x = 1022px 450px -1022px -450px 168px 180px 1394px 1148px '../images/sprites/sprites@2x.png' 'section-green-mobile@2x';
$section_green_2x_name = 'section-green@2x';
$section_green_2x_x = 0px;
$section_green_2x_y = 450px;
$section_green_2x_offset_x = 0px;
$section_green_2x_offset_y = -450px;
$section_green_2x_width = 380px;
$section_green_2x_height = 412px;
$section_green_2x_total_width = 1394px;
$section_green_2x_total_height = 1148px;
$section_green_2x_image = '../images/sprites/sprites@2x.png';
$section_green_2x = 0px 450px 0px -450px 380px 412px 1394px 1148px '../images/sprites/sprites@2x.png' 'section-green@2x';
$top_left_hexagon_2x_name = 'top-left-hexagon@2x';
$top_left_hexagon_2x_x = 0px;
$top_left_hexagon_2x_y = 878px;
$top_left_hexagon_2x_offset_x = 0px;
$top_left_hexagon_2x_offset_y = -878px;
$top_left_hexagon_2x_width = 296px;
$top_left_hexagon_2x_height = 270px;
$top_left_hexagon_2x_total_width = 1394px;
$top_left_hexagon_2x_total_height = 1148px;
$top_left_hexagon_2x_image = '../images/sprites/sprites@2x.png';
$top_left_hexagon_2x = 0px 878px 0px -878px 296px 270px 1394px 1148px '../images/sprites/sprites@2x.png' 'top-left-hexagon@2x';
$sp_sprites_width = 697px;
$sp_sprites_height = 574px;
$sp_sprites_image = '../images/sprites/sprites.png';
$sp_sprites_sprites = $bottom_left_hexagon $how_arrow $icon_how_1 $icon_how_2 $icon_how_3 $ldquot $popup_bottom $popup_top $project_hexagon $projects_right_hexagon $projects_top_hexagon $rdquot $section_green_mobile $section_green $top_left_hexagon;
$sp_sprites = 697px 574px '../images/sprites/sprites.png' $sp_sprites_sprites;
$retina_spritesheet_width = 1394px;
$retina_spritesheet_height = 1148px;
$retina_spritesheet_image = '../images/sprites/sprites@2x.png';
$retina_spritesheet_sprites = $bottom_left_hexagon_2x $how_arrow_2x $icon_how_1_2x $icon_how_2_2x $icon_how_3_2x $ldquot_2x $popup_bottom_2x $popup_top_2x $project_hexagon_2x $projects_right_hexagon_2x $projects_top_hexagon_2x $rdquot_2x $section_green_mobile_2x $section_green_2x $top_left_hexagon_2x;
$retina_spritesheet = 1394px 1148px '../images/sprites/sprites@2x.png' $retina_spritesheet_sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.
*/
$bottom_left_hexagon_group_name = 'bottom-left-hexagon';
$bottom_left_hexagon_group = 'bottom-left-hexagon' $bottom_left_hexagon $bottom_left_hexagon_2x;
$how_arrow_group_name = 'how-arrow';
$how_arrow_group = 'how-arrow' $how_arrow $how_arrow_2x;
$icon_how_1_group_name = 'icon-how-1';
$icon_how_1_group = 'icon-how-1' $icon_how_1 $icon_how_1_2x;
$icon_how_2_group_name = 'icon-how-2';
$icon_how_2_group = 'icon-how-2' $icon_how_2 $icon_how_2_2x;
$icon_how_3_group_name = 'icon-how-3';
$icon_how_3_group = 'icon-how-3' $icon_how_3 $icon_how_3_2x;
$ldquot_group_name = 'ldquot';
$ldquot_group = 'ldquot' $ldquot $ldquot_2x;
$popup_bottom_group_name = 'popup-bottom';
$popup_bottom_group = 'popup-bottom' $popup_bottom $popup_bottom_2x;
$popup_top_group_name = 'popup-top';
$popup_top_group = 'popup-top' $popup_top $popup_top_2x;
$project_hexagon_group_name = 'project-hexagon';
$project_hexagon_group = 'project-hexagon' $project_hexagon $project_hexagon_2x;
$projects_right_hexagon_group_name = 'projects-right-hexagon';
$projects_right_hexagon_group = 'projects-right-hexagon' $projects_right_hexagon $projects_right_hexagon_2x;
$projects_top_hexagon_group_name = 'projects-top-hexagon';
$projects_top_hexagon_group = 'projects-top-hexagon' $projects_top_hexagon $projects_top_hexagon_2x;
$rdquot_group_name = 'rdquot';
$rdquot_group = 'rdquot' $rdquot $rdquot_2x;
$section_green_mobile_group_name = 'section-green-mobile';
$section_green_mobile_group = 'section-green-mobile' $section_green_mobile $section_green_mobile_2x;
$section_green_group_name = 'section-green';
$section_green_group = 'section-green' $section_green $section_green_2x;
$top_left_hexagon_group_name = 'top-left-hexagon';
$top_left_hexagon_group = 'top-left-hexagon' $top_left_hexagon $top_left_hexagon_2x;
$retina_groups = $bottom_left_hexagon_group $how_arrow_group $icon_how_1_group $icon_how_2_group $icon_how_3_group $ldquot_group $popup_bottom_group $popup_top_group $project_hexagon_group $projects_right_hexagon_group $projects_top_hexagon_group $rdquot_group $section_green_mobile_group $section_green_group $top_left_hexagon_group;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon_home_group = 'icon-home' $icon_home $icon_home_2x;

.icon-home {
  retinaSprite($icon_home_group)
}
*/
spriteBackgroundSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

retinaSprite($retina_group) {
  $normal_sprite = $retina_group[1];
  $retina_sprite = $retina_group[2];
  sprite($normal_sprite)

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    spriteImage($retina_sprite)
    spriteBackgroundSize($normal_sprite)
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

/*
The `retinaSprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in Stylus

retinaSprites($retina_groups);
*/
retinaSprites($retina_groups) {
  for $retina_group in $retina_groups {
    $sprite_name = $retina_group[0];
    .{$sprite_name} {
      retinaSprite($retina_group);
    }
  }
}
