mixin support()
	+b('section').support-write
		+box()
			+content()
				+e('h2').heading О наших проектах !{''}
					strong пишут...
	+b('section').support
		+box()
			+content()
				+e('h2').heading ... наши проекты !{''}
					strong поддерживают
