mixin like()
	+b('svg')(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='80', height='86', preserveaspectratio='xMidYMid', viewbox='0 0 80 86').social-link&attributes(attributes)
		a(xlink:href=jv0, target='_blank')
			defs
				style.
					.red-section { fill: #f04; filter: url(#drop-shadow-1); fill-rule: evenodd; }
				filter#drop-shadow-1(filterunits='userSpaceOnUse')
					feoffset(dy='2', in='SourceAlpha')
						fegaussianblur(stddeviation='2', result='dropBlur')
							feflood(flood-opacity='.22')
								fecomposite(operator='in', in2='dropBlur', result='dropShadowComp')
									fecomposite(in='SourceGraphic', result='shadowed')
			path.red-section(d='M72.247 19.76L45.745 4.87c-3.25-1.824-7.252-1.824-10.5 0L8.743 19.76c-3.25 1.826-5.25 5.198-5.25 8.85v29.778c0 3.65 2 7.024 5.25 8.85l26.502 14.89c3.248 1.824 7.25 1.824 10.5 0l26.502-14.89c3.25-1.826 5.25-5.2 5.25-8.85V28.61c0-3.652-2-7.024-5.25-8.85z')
