
include ../container/container
include ../col/col

mixin how-works()
	+b('section').how-works
		+content()
			+box()
				+e('h2').heading.heading Как работает !{''}
					strong Улей
				+container-33()
					+col-33().how-col-33
						+b.how-item
							+e('i').icon.icon-how-1
							+e('h3').heading
								| Проект
							+e('p').caption
								| Финансирование могут получить проекты из любой области. Важна оригинальность вашей задумки.
					+col-33().how-col-33
						+b.how-item
							+e('i').icon.icon-how-2
							+e('h3').heading
								| Размещение в Улье
							+e('p').caption
								| Подайте заявку на размещение проекта в Улье – наши менеджеры обязательно свяжутся с вами.
					+col-33().how-col-33
						+b.how-item
							+e('i').icon.icon-how-3
							+e('h3').heading
								| Финансирование
							+e('p').caption
								| Ваш проект обязательно получит финансирование, если окажется нужным и интересным обществу.
