
include ../container/container
include ../col/col

mixin how-works()
	+b('section').how-works
		+content()
			+box()
				+e('h2').heading.heading Как работает !{''}
					strong Улей
				+container()
					+col()
						+b.how-item
							+e('i').icon.icon-how-1
								//- +icon('icon-how-1')

							+e('h3').heading
								| Проект
							+e('p').caption
								| Sit voluptatem accusantium laudantium, rem aperiam, eaque ipsa  inventore veritatis et.
					+col()
						+b.how-item
							+e('i').icon.icon-how-2
								//- +icon('icon-how-2')

							+e('h3').heading
								| Размещение в улье
							+e('p').caption
								| Sit voluptatem accusantium laudantium, rem aperiam, eaque ipsa  inventore veritatis et.
					+col()
						+b.how-item
							+e('i').icon.icon-how-3
								//- +icon('icon-how-3')

							+e('h3').heading
								| Сбор средств
							+e('p').caption
								| Sit voluptatem accusantium laudantium, rem aperiam, eaque ipsa  inventore veritatis et.
