
include ../container/container
include ../col/col

mixin how-works()
	+b('section').how-works
		+content()
			+box()
				+e('h2').heading.heading Как работает !{''}
					strong Улей
				+container-33()
					+col-33().how-col-33
						+b.how-item
							+e('svg')(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink").icon
								use(xlink:href="./assets/images/icon.svg#icon_bulb")
							+e('h3').heading
								| Идея
							+e('p').caption
								| Для начала нужен проект, на реализацию которого вам необходимы деньги.
					+col-33().how-col-33
						+b.how-item
							+e('svg')(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink").icon
								use(xlink:href="./assets/images/icon.svg#icon_ulej-site")
							+e('h3').heading
								| Размещение в Улье
							+e('p').caption
								| Затем необходимо подать заявку, чтобы менеджеры Улья могли проконсультировать вас.
					+col-33().how-col-33
						+b.how-item
							+e('svg')(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink").icon
								use(xlink:href="./assets/images/icon.svg#icon_cash")
							+e('h3').heading
								| Финансирование
							+e('p').caption
								| Финансирование начинается после публикации проекта на сайте Ulej.by.
				+e.send-btn-wrap
					+getFinances()
