mixin button(args)
	if args
		case args.type
			when 'button'
				button(type='button').btn&attributes(attributes)
					block
			when 'buttonSubmit'
				button(type='submit').btn&attributes(attributes)
					block
			when 'input'
				input.btn(type='button',value=args.name)&attributes(attributes)
			when 'submit'
				input.btn(type='submit',value=args.name)&attributes(attributes)
			default
				a.btn(href= jv0, role='button')&attributes(attributes)
					block
	else
		a.btn(href= jv0, role='button')&attributes(attributes)
			block

mixin getFinances(args)
	+b('svg')(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='250', height='40', viewbox='0 0 250 40').btn-get&attributes(attributes)
		a(xlink:href=jv0, target='_blank').js-open-send
			g(fill='none', fill-rule='evenodd')
				path(fill='currentColor', d='M241.088 37.162c-.505.882-1.226 1.594-2.072 2.084-.53.468-1.223.754-1.985.754H13.83c-2.01 0-3.866-1.082-4.87-2.838L.76 22.836c-1.004-1.756-1.004-3.92 0-5.675L8.957 2.84C9.96 1.083 11.817 0 13.827 0h222.39l.814.003c.76 0 1.45.285 1.98.75.85.49 1.576 1.202 2.08 2.087l8.197 14.325c1.004 1.758 1.004 3.92 0 5.677l-8.195 14.325z')
				text(x='50%', y='50%', dy=".3em", text-anchor='middle').btn-get__text
					| Получить финансирование
