body
	position relative

	font-family openSans




h1
h2
h3
h4
	margin 0

	font-family robotoCond


.link
	color $blue
	text-decoration none
	&:hover
		text-decoration underline

.heading
	font-size 42px
	line-height 48px
	font-family openSans
	font-weight regular
	strong
		font-weight semibold
