body
	position relative

	font-family openSans

html
	// overflow hidden
	overflow-y scroll




h1
h2
h3
h4
	margin 0

	font-family robotoCond


.link
	color $blue
	text-decoration none
	&:hover
		text-decoration underline

.heading
	font-size 42px
	line-height 48px
	color #171717
	font-family openSans
	font-weight regular
	+mobile(density: retina)
		font-size 20px
		line-height 1.2
	strong
		font-weight semibold

.container-33
	width 100%
	padding-left 37px
	padding-right 37px

.row-33
	margin-left -20px
	margin-right -20px
	font-size 0


.col-33
	font-size 14px
	width 33.33%
	padding-left 20px
	padding-right 20px
	+mobile(density: retina)
		width 100%

a
button
.link
	transition all 0.2s ease-in
	&:hover
		transition all 0s
