// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

equal($value = 0)
	top $value
	right $value
	bottom $value
	left $value


retinaSprite2($normal_sprite, $retina_group)
	$retina_sprite-normal = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	+mobile(density: retina)
		spriteImage($retina_sprite)
		spritePosition($retina_sprite-normal)
		spriteBackgroundSize($retina_sprite-normal)
		spriteWidth($retina_sprite-normal)
		spriteHeight($retina_sprite-normal)

