$belgazprombank = 190px 54px
$comment = 15px 13px
$epam = 134px 47px
$fb = 11px 22px
$green-hexagon-mobile = 74px 80px
$green-hexagon = 180px 195px
$green = 1120px 660px
$honeycomb-30 = 32px 36px
$kyky = 114px 29px
$logo = 94px 103px
$lwo = 843.6px 284.2px
$tw = 20px 16px
$vk = 25px 14px


svgSize($icon)
	width $icon[0]
	height $icon[1]