include ../blocks/index/index

extends ../blocks/layout-default/layout-default

block head
	- var pageTitle = 'Улей — краудфандинговая площадка';
	- var pageDescription = 'Ulej.by — первая в Беларуси краудфандинговая площадка. Финансирование любых проектов проектов: от социальных и творческих проектов до технологических стартапов.'
	- var pageKeywords = 'финансирование, проекты, краудфандинг, улей, ulej.by'

block content
	+index()
