.logo
	position absolute
	top 13px
	left -47px
	display block
	width 94px
	height 103px
	&
	a
		color #06B7C5
		cursor pointer
		&:hover
			color #09a4b3

	+below(1276px)
		left 25px

	+mobile()
		top 24px
		left 50%
		margin-left -47px
