.social
	padding-x 5px
	position absolute
	width 116px
	padding-bottom 40px
	top 404px
	left 138px
	text-align center
	z-index 2
	+below(1200px)
		left 50%
		margin-left -437px
	+below(890px)
		left 10px
		margin-left auto
	+mobile()
		top 284px
		left 10px
	+above(1140px)
		width auto
		background none
		box-shadow none
		left 198px
		margin-left auto


	&:before
	&:after
		display block
		position absolute
		left 0
		width 110px
		height 43px
		z-index 1
	&__content
		display none
		margin-top 108px
		+above(1140px)
			margin-top 20px
			position relative
			z-index 2
	&--is-opened
		background url(../images/social-bg.svg) center top no-repeat
		background-size 116px 276px
		+above(1140px)
			background url(../images/social-bg-horizontal.svg) center top no-repeat
			background-size 418px 101px
			left 52px
			top 409px
			.social-link
				top 10px
				left 114px
				margin-left auto
		.social__content
			display block

	&__block
		display inline-block
		border-radius 5px
		width 100px
		height 40px
		line-height 40px
		font-family roboto
		font-size 0
		color #FFF
		margin-bottom 4px
		transition background-color 0.2s ease-in
		&:hover
			transition background-color 0s
		+above(1140px)
			margin-top 9px
			margin-bottom 9px
			position relative
			margin-right 4px
		&--vk
			background-color #5d89b2
			&:hover
				background-color #4F7091
			+above(1140px)
				margin-right 86px
		&--fb
			background-color #4d6fa8
			&:hover
				background-color #476595
		&--tw
			background-color #55acee
			&:hover
				background-color #1DA9D8
			+above(1140px)
				margin-right 0
		&-icon-wrap
			display inline-block
			vertical-align top
			width 50%
			text-align center
		&-counter
			font-size 17px
			position relative
			display inline-block
			vertical-align top
			text-align center
			width 50%
			&:before
				content ''
				display block
				width 1px
				background-color rgba(255, 255, 255, .2)
				position absolute
				top 0
				bottom 0
				left -1px


.social-link
	color #F04
	cursor pointer
	display inline-block
	position absolute
	top 15px
	left 50%
	margin-left -37px
	z-index 4
	filter drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.22))
	&
	a
		color #F04
	&:hover
		&
		a
			color #b40030
	text
		font-family openSans
		font-size 14px
		text-anchor middle


.social__vk
	width 25px
	height 15px
	display inline-block
	vertical-align top
	margin-top 13px

.social__fb
	width 11px
	height 22px
	display inline-block
	vertical-align top
	margin-top 9px

.social__tw
	width 20px
	height 16px
	display inline-block
	vertical-align top
	margin-top 12px
