.tiles-row-2 .tile__element {
  -webkit-transform: translateY(-40px);
     -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
       -o-transform: translateY(-40px);
          transform: translateY(-40px);
}
.tiles-row-3 .tile__element {
  -webkit-transform: translateY(-80px);
     -moz-transform: translateY(-80px);
      -ms-transform: translateY(-80px);
       -o-transform: translateY(-80px);
          transform: translateY(-80px);
}
@media only screen and (max-width: 719px) {
  .tiles-row-3 .tile__element {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}
.tiles-row-4 .tile__element {
  -webkit-transform: translateY(-120px);
     -moz-transform: translateY(-120px);
      -ms-transform: translateY(-120px);
       -o-transform: translateY(-120px);
          transform: translateY(-120px);
}
@media only screen and (max-width: 719px) {
  .tiles-row-4 .tile__element {
    -webkit-transform: translateY(-40px);
       -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
         -o-transform: translateY(-40px);
            transform: translateY(-40px);
  }
}
