mixin banner()
	+b('section').banner
		+e('a')(href='http://ulej.by', target='_blank').text
			+e('span').link
				| www.
				+e('span').underline Ulej.by
			| &nbsp;— мы с нетерпением ждём вас&nbsp;;)
