include ../logo/logo
include ../dark/dark
include ../title/title
include ../social/social

include ../description/description
include ../sticker-link/sticker-link

mixin header()
	svg.svg-defs
		defs
			clippath#clipping-tile
				path(fill='none', stroke='#979797', d='M115.207 4.697c-8.782-4.93-19.6-4.93-28.38 0L15.19 44.9C6.408 49.83 1 58.937 1 68.797v80.408c0 9.858 5.408 18.966 14.19 23.895l71.636 40.204c8.78 4.928 19.6 4.928 28.38 0l71.637-40.205c8.78-4.93 14.19-14.04 14.19-23.898V68.796c0-9.86-5.41-18.967-14.19-23.895L115.207 4.7z')
			clipPath#clipping-bg
				path(d='M1.7,0V257.2c0,55.7,30.3,107.2,79.5,135L482.3,619.3a161.6,161.6,0,0,0,158.9,0l401.1-227.2c49.2-27.8,79.5-79.3,79.5-135V0', fill='#09afbc')


				//- path(d='M1022.4-332.9L620.3-560a162.3,162.3,0,0,0-159.3,0L59.1-332.9C9.8-305-20.6-253.6-20.6-197.9V256.4c0,55.7,30.4,107.2,79.6,135l402,227.2a162.3,162.3,0,0,0,159.3,0l402-227.2c49.3-27.8,79.6-79.3,79.6-135V-197.9C1102-253.6,1071.6-305,1022.4-332.9Z', style='fill: none')


			filter#f1
				fegaussianblur(in='SourceAlpha', stddeviation='2.2')
					feoffset(dx='0', dy='2', result='offsetblur')
						feflood(flood-color='rgba(0,0,0,0.22)')
							fecomposite(in2='offsetblur', operator='in')
								femerge
									femergenode
										femergenode(in='SourceGraphic')


	+popup({
						jsClass:'js-what-is-popup',
						heading: 'Что такое',
						strong: 'краудфандинг?',
						type: 'what-is'
	})
	+popup({
						jsClass:'js-callback-popup',
						heading: 'звонок',
						strong: 'Обратный',
						type: 'callback'
	}).popup--callback
	+popup({
						jsClass:'js-send-popup',
						heading: 'о проекте',
						strong: 'Рассказать',
						type: 'send'
	}).popup--send
	+popup({
						jsClass:'js-callback-message-popup',
						heading: 'Спасибо!',
						type: 'message',
						message: 'Очень-очень скоро мы перезвоним вам! :)'
	}).popup--message
	+popup({
						jsClass:'js-send-message-popup',
						heading: 'Большое спасибо за уделeнное время!',
						type: 'message',
						message: 'Совсем скоро с вами свяжется наш менеджер, и мы начнем обсуждение проекта.'
	}).popup--message

	+b.header&attributes(attributes)
		+e.inner
			+e('svg')(width='1160', height='750').bg-img-clip
				image(width='1120', height='640', x="0", y="0", xlink:href='./assets/images/bg2.jpg').tile__image

			//- +e('img')(src='./assets/images/bg2.jpg', width="1120", height="640").bg-img
			+e.bg-clip
				+e('h1').heading Финансирование проектов в Улье
					small Ulej.by&nbsp;&mdash; первая в Беларуси краудфандинговая площадка.
				+social()
				+sticker-link().header__sticker-link.js-open-what-is
				+logo
				+b.help-block
					+e.text Звоните нам!
					+e('a')(href='tel:+375291323123').phone +375 (29) 132-31-23
					+e.text
						| Вы также !{''}
						a(href=jv0).link.js-open-callback можете заказать звонок
						|  от нашего консультанта.
			+e.content
				+box()
					+e.subheader
						+e('h2').subheading.heading
							| За полгода активной работы Улья
							br
							| общая сумма финансирования составила !{''}
							strong 700&nbsp;000&nbsp;000
							| &nbsp;рублей.
					+e('img')(src='./assets/images/header-hexagon-items.png',width='406',height='431').hexagon-items
					+e.subsection
						+b.half-subsection.half-subsection--left
							+e.content
								+e.strong 1&nbsp;700
								+e.description Умных
									br
									| инвесторов
						+b.half-subsection.half-subsection--right
							+e.content
								+e.strong 15
								+e.description Категорий
									br
									| проектов


