include ../logo/logo
include ../dark/dark
include ../title/title
include ../social/social

include ../description/description
include ../sticker-link/sticker-link

include ../svg-defs/svg-defs

mixin header()
	+svg-defs()

	+popup({
						jsClass:'js-what-is-popup',
						heading: 'Что такое',
						strong: 'краудфандинг?',
						type: 'what-is'
	})
	+popup({
						jsClass:'js-callback-popup',
						heading: 'звонок',
						strong: 'Обратный',
						type: 'callback'
	}).popup--callback
	+popup({
						jsClass:'js-send-popup',
						heading: 'о проекте',
						strong: 'Рассказать',
						type: 'send'
	}).popup--send
	+popup({
						jsClass:'js-callback-message-popup',
						heading: 'Спасибо!',
						type: 'message',
						message: 'Очень-очень скоро мы перезвоним вам! :)'
	}).popup--message
	+popup({
						jsClass:'js-send-message-popup',
						heading: 'Большое спасибо за уделeнное время!',
						type: 'message',
						message: 'Совсем скоро с вами свяжется наш менеджер, и мы начнем обсуждение проекта.'
	}).popup--message

	+b.header&attributes(attributes)
		+e.inner
			+e.bg-clip
				+icon('green').bg-green
				+e('svg')(width='1120', height='640').bg-img-clip
					rect(width='770',height='440',x='50%',y='50%',transform='translate(-350,-120)', fill='url(#gradient2)', clip-path='url(#clipping-bg)').tile__gradient.js-change-svg-position
					image(width='770', height='440', x='50%', y='50%', xlink:href='./assets/images/Main-01-small.jpg', transform='translate(-350,-120)', clip-path='url(#clipping-bg)').tile-header__image.tile-header__image--small.tile-header__image--is-loaded.js-main-bg-image-small.js-change-svg-position
					image(width='770', height='440', x='50%', y='50%', xlink:href='./assets/images/Main-02.jpg', transform='translate(-350,-120)', clip-path='url(#clipping-bg)').tile-header__image.js-main-temp-image.js-change-svg-position
					image(width='770', height='440', x='50%', y='50%', xlink:href='./assets/images/Main-01.jpg', transform='translate(-350,-120)', clip-path='url(#clipping-bg)').tile-header__image.js-main-bg-image.js-change-svg-position
					rect(width='770',height='440',x='50%',y='50%',transform='translate(-350,-120)', fill='url(#gradient)', clip-path='url(#clipping-bg)').tile__gradient.js-change-svg-position
				script(type='text/javascript').
					(function(){
						var d = document,
								e = d.documentElement,
								g = d.getElementsByTagName('body')[0],
								x = e.clientWidth || g.clientWidth,
								y = e.clientHeight|| g.clientHeight,
								svgPos = d.querySelectorAll('.js-change-svg-position'),
								clip = d.querySelectorAll('.clipping-bg')[0],
								svgElement = d.querySelectorAll('.header__bg-img-clip')[0];

						if (x >= 720) {
							for (var i=0; i < svgPos.length; i++) {
								svgPos[i].setAttribute('width', '1120');
								svgPos[i].setAttribute('height', '640');
								svgPos[i].setAttribute('transform', 'translate(-560,-320)');
								svgPos[i].setAttribute('x', '50%');
								svgPos[i].setAttribute('y', '50%');
								}
							clip.setAttribute('transform', 'translate(560,320)');
							clip.setAttribute('x', '50%');
							clip.setAttribute('y', '50%');
						}
						svgElement.classList.add('bg-img-clip--is-visible');
						svgElement.style.willChange = 'auto';

					})()
				+e('h1').heading Финансирование проектов в Улье
					small Ulej.by&nbsp;&mdash; первая в Беларуси краудфандинговая площадка.
				+social()
				+sticker-link().header__sticker-link.js-open-what-is
				+logo
				+b.help-block
					+e.text Звоните нам!
					+e('a')(href='tel:+375291323123').phone +375 (29) 132-31-23
					+e.text
						| Вы также !{''}
						a(href=jv0).link.js-open-callback можете заказать звонок
						|  от нашего консультанта.
			+e.content
				+box()
					+e.subheader
						+e('h2').subheading.heading
							| За полгода активной работы Улья
							br
							| общая сумма финансирования составила !{''}
							strong 700&nbsp;000&nbsp;000
							| &nbsp;рублей.
					+e('img')(src='./assets/images/header-hexagon-items.png',
								srcset='./assets/images/header-hexagon-items@2x.png 2x, ./assets/images/header-hexagon-items.png 1x'
								).hexagon-items
					+e.subsection
						+b.half-subsection.half-subsection--left
							+e.content
								+e.strong 1&nbsp;700
								+e.description Умных
									br
									| инвесторов
						+b.half-subsection.half-subsection--right
							+e.content
								+e.strong 15
								+e.description Категорий
									br
									| проектов


