include ../logo/logo
include ../dark/dark
include ../title/title
include ../social/social

include ../description/description
include ../sticker-link/sticker-link

mixin header()
	svg.svg-defs
		defs
			clippath#clipping-tile(clippathunits='objectBoundingBox')
				//- path(d='M.41.02h.18l.32.14.09.17v.33L.91.83.59.98H.41L.09.83 0 .66V.33L.09.16')
				//- polygon(points='.41,.02 .59,.02 \
				//- 	.91,.16 1,.33 \
				//- 	1,.66 .91,.83 \
				//- 	.59,.98 .41,.98 \
				//- 	.09,.83 0,.66\
				//- 	0,.33 .09,.16\
				//- 	')

				//- circle(cx='.5', cy='.2', r='.2')
				//- circle(cx='.5', cy='.8', r='.2')
				//- circle(cx='.8', cy='.33', r='.2')
				//- circle(cx='.8', cy='.66', r='.2')
				//- circle(cx='.2', cy='.33', r='.2')
				//- circle(cx='.2', cy='.66', r='.2')
				//- svg(xmlns='http://www.w3.org/2000/svg', width='202', height='218', viewbox='0 0 202 218')
				path(fill='none', stroke='#979797', d='M115.207 4.697c-8.782-4.93-19.6-4.93-28.38 0L15.19 44.9C6.408 49.83 1 58.937 1 68.797v80.408c0 9.858 5.408 18.966 14.19 23.895l71.636 40.204c8.78 4.928 19.6 4.928 28.38 0l71.637-40.205c8.78-4.93 14.19-14.04 14.19-23.898V68.796c0-9.86-5.41-18.967-14.19-23.895L115.207 4.7z')

				//- path(d='M189.842 45.9033263l-71.635-40.20663c-8.782-4.9289284-19.602-4.9289284-28.382 0l-71.635 40.20663C9.408 50.8302568 4 59.9358877 4 69.7987395v80.4072665c0 9.856858 5.408 18.964486 14.19 23.895413l71.635 40.202634c8.78 4.927929 19.6 4.927929 28.382 0l71.635-40.203633c8.78-4.931926 14.19-14.039554 14.19-23.895413V69.7987395c0-9.8618528-5.41-18.9674837-14.19-23.8954132z')
			//- mask(maskUnits="objectBoundingBox", maskContentUnits="objectBoundingBox")#masking
				path(d='M1045.6-242.4l-402-227.2a162.3,162.3,0,0,0-159.3,0L82.3-242.4C33-214.5,2.6-163.1,2.6-107.4V346.9c0,55.7,30.4,107.2,79.6,135l402,227.2a162.3,162.3,0,0,0,159.3,0l402-227.2c49.3-27.8,79.6-79.3,79.6-135V-107.4C1125.2-163.1,1094.9-214.5,1045.6-242.4Z')
	+popup({
						jsClass:'js-what-is-popup',
						heading: 'Что такое',
						strong: 'краудфандинг?',
						type: 'what-is'
	})
	+popup({
						jsClass:'js-callback-popup',
						heading: 'звонок',
						strong: 'Обратный',
						type: 'callback'
	}).popup--callback
	+popup({
						jsClass:'js-send-popup',
						heading: 'о проекте',
						strong: 'Рассказать',
						type: 'send'
	}).popup--send
	+popup({
						jsClass:'js-callback-message-popup',
						heading: 'Спасибо!',
						type: 'message',
						message: 'Очень-очень скоро мы перезвоним вам! :)'
	}).popup--message
	+popup({
						jsClass:'js-send-message-popup',
						heading: 'Большое спасибо за уделeнное время!',
						type: 'message',
						message: 'Совсем скоро с вами свяжется наш менеджер, и мы начнем обсуждение проекта.'
	}).popup--message

	+b.header&attributes(attributes)
		+e.inner
			+e('img')(src='./assets/images/bg1.jpg', width="1120", height="747").bg-img
			+e.bg-clip
				+e('h1').heading Улей — краудфандинговая площадка
					small Самый легкий способ привлечения финансирования вашего проекта.
				+social()
				+sticker-link().header__sticker-link.js-open-what-is
				+logo
				+b.help-block
					+e.text Звоните нам!
					+e('a')(href='tel:+375291323123').phone +375 (29) 132-31-23
					+e.text
						| Вы также !{''}
						a(href=jv0).link.js-open-callback можете заказать звонок
						|  от нашего консультанта.
			+e.content
				+box()
					+e.subheader
						+e('h2').subheading.heading
							| За пол года активной работы Улья
							| успешно профинансировано !{''}
							strong 24 проекта
							|  на сумму !{''}
							strong 550 000 000
							|  рублей.
					+e('img')(src='./assets/images/header-hexagon-items.png',width='406',height='431').hexagon-items
					+e.subsection
						+b.half-subsection.half-subsection--left
							+e.content
								+e.strong 1 480
								+e.description Умных инвесторов
						+b.half-subsection.half-subsection--right
							+e.content
								+e.strong 50%
								+e.description Успешных проектов


