.header
	&__inner
		// background url(../images/header-background.png) top center no-repeat

		// background-size 1207px 658px
		position relative
		max-width 1207px
		min-height 658px
		margin-x auto



	&__bg
		background url(../images/bg1.jpg) top center no-repeat
		// background-size 2048px 1365px
		height 1365px



	&__heading
		color #FFF
		font-family openSans
		margin-top 258px

		font-weight semibold
		font-size 40px
		text-align center
		text-shadow 0px 1px 48.02px rgba(0, 0, 0, 0.88)
		small
			font-weight regular
			display block
			margin-top 14px
			font-size 19px
			color #DDD

.bg1
	clip-path url(#clipping)

.svg-defs
	position absolute
	width 0
	height 0
