.header
	&__inner
		// background url(../images/header-background.png) top center no-repeat

		// background-size 1207px 658px
		position relative
		max-width 1200px
		// min-height 860px
		margin-x auto



	&__bg-img
		position absolute
		z-index 0
		left 40px
		top -70px


	&__bg-clip
		position relative
		z-index 1
		// height 1365px
		height 860px
		background 	url(../images/header-background-big.png) 40px top no-repeat
		background-size 1160px 858px
		padding-top 260px

	&__content
		position relative
		// padding-top 260px

	&__hexagon-items
		position absolute
		bottom -37px
		right 40px
		z-index 1

	&__heading
		color #FFF
		font-family openSans

		font-weight semibold
		font-size 40px
		text-align center
		text-shadow 0px 1px 48.02px rgba(0, 0, 0, 0.88)
		small
			font-weight regular
			display block
			margin-top 14px
			font-size 19px
			color #DDD

	&__subheader
		position relative
		text-align center
		padding-top 70px
		padding-bottom 80px
		&::before
			content ''
			display block
			height 1px
			background-image linear-gradient( 0deg, rgba(204,204,204,0.5) 0%, rgb(204,204,204) 50%, rgba(204,204,204,0.5) 100%)
			position absolute
			top -1px
			left 0
			right 0
			z-index 0



	&__subheading
		font-size 42px
		line-height 48px
		font-weight regular
		font-family openSans
		strong
			font-weight bold

	&__subsection
		font-size 0

.half-subsection
	width 50%
	display inline-block
	vertical-align top
	font-family openSans
	font-size 18px
	line-height 21px
	color #171717
	text-transform uppercase
	font-weight bold
	position relative
	padding-top 50px
	padding-bottom 80px
	&::before
		content ''
		position absolute
		top -1px
		height 1px
		background-image linear-gradient( 0deg, rgba(204,204,204,0.5) 0%, rgb(204,204,204) 50%, rgba(204,204,204,0.5) 100%)

	&--left
		padding-right 30px
		padding-left 150px
		&::before
			left 75px
			right 40px
	&--right
		padding-left 100px
		padding-right 150px
		&::before
			left 40px
			right 75px
	&__strong
		float left
		font-size 48px
		font-weight semibold
		line-height 41px
		margin-right 15px


.bg1
	clip-path url(#clipping)

.svg-defs
	position absolute
	width 0
	height 0

.help-block
	position absolute
	top 560px
	left 68px
	padding 16px 20px
	width 280px
	border-radius 6px
	background-color #fff
	border 1px dashed #CCC
	font-size 14px
	line-height 20px
	color #333

	&__phone
		margin-top 5px
		margin-bottom 5px
		display block
		text-decoration none
		color #000
		font-size 18px
		font-weight semibold


.social-link
	position absolute
	z-index 2
