mixin footer()
	+b.footer&attributes(attributes)
		+box()
			+container()
				+col()
					+b('a')(href='http://ulej.by').link Ulej.by
					+b('span').divider  /  !{''}
					+b('span').caption ООО “Хайв Проджект” 220121, г.Минск
						br
						| ул. Ефросиньи Полоцкой 3, оф. 53
					+e.agreement
						+b('a')(href=jv0).link Пользовательское соглашение
				+col()
					+e.phone
						+e('a')(href='tel:+375172547045').phone-link +375 (17) 254 70 45
					+e.phone
						+e('a')(href='tel:+375291323123').phone-link +375 (29) 132 31 23
				+col()
					+e.social
						+e.social-row-1
							+icon('honeycomb-30').honeycomb-30.honeycomb-order-1
							+icon('honeycomb-30').honeycomb-20.honeycomb-order-2
						+e.social-row-2
							+icon('honeycomb-30').honeycomb-10.honeycomb-order-3
							+icon('honeycomb-30').honeycomb-60.honeycomb-order-4
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='30', height='33.438', preserveaspectratio='xMidYMid', viewbox='0 0 30 33.438').honeycomb-vk.honeycomb-order-5
								a(xlink:href='https://vk.com/ulejby', target='_blank')
									path(d='M29.732 8.184l-11.46-6.578c-1.405-.808-3.136-.808-4.54 0L2.272 8.184C.868 8.99 0 10.48 0 12.092v13.156c0 1.614.866 3.104 2.27 3.91l11.46 6.578c1.404.805 3.135.805 4.54 0l11.46-6.578c1.404-.808 2.27-2.296 2.27-3.91V12.09c0-1.614-.865-3.105-2.27-3.91l.002.002z', fill='#fff')
									path(d='M27.87 6.798L17.127.578c-1.316-.764-2.94-.764-4.256 0L2.13 6.798C.81 7.56 0 8.97 0 10.495v12.442c0 1.526.81 2.935 2.128 3.698l10.743 6.22c1.32.764 2.94.764 4.26 0l10.743-6.22c1.318-.763 2.13-2.172 2.13-3.698v-12.44c0-1.527-.81-2.936-2.13-3.7z', fill='currentColor')
							+icon('honeycomb-30').honeycomb-50.honeycomb-order-6
							+icon('honeycomb-30').honeycomb-30.honeycomb-order-7
						+e.social-row-3
							+icon('honeycomb-30').honeycomb-10.honeycomb-order-8
							+icon('honeycomb-30').honeycomb-20.honeycomb-order-9
							+icon('honeycomb-30').honeycomb-30.honeycomb-order-10
							+icon('honeycomb-30').honeycomb-50.honeycomb-order-11
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='30', height='33.438', preserveaspectratio='xMidYMid', viewbox='0 0 30 33.438').honeycomb-fb.honeycomb-order-12
								a(xlink:href='https://www.facebook.com/ulejby', target='_blank')
									path(d='M29.734 8.164l-11.46-6.578c-1.405-.81-3.137-.81-4.54 0L2.274 8.164C.868 8.97.004 10.46.004 12.07v13.157c0 1.614.863 3.105 2.27 3.91l11.46 6.58c1.403.804 3.135.804 4.54 0l11.46-6.58c1.403-.807 2.27-2.296 2.27-3.91V12.07c0-1.613-.867-3.104-2.27-3.91v.004z', fill='#fff')
									path(d='M27.87 6.798L17.127.578c-1.316-.764-2.94-.764-4.256 0L2.13 6.798C.81 7.56 0 8.97 0 10.495v12.442c0 1.526.81 2.935 2.128 3.698l10.743 6.22c1.32.764 2.94.764 4.26 0l10.743-6.22c1.318-.763 2.13-2.172 2.13-3.698v-12.44c0-1.527-.81-2.936-2.13-3.7z', fill='currentColor')
							+icon('honeycomb-30').honeycomb-60.honeycomb-order-13
				+col()
					+e.partner-logo-wrap
						+icon('belgazprombank').partner-logo
					+b.footer__partner-text
						| Официальный партнер
