mixin footer()
	+b.footer&attributes(attributes)
		+box()
			+container()
				+col().footer__address-col
					+b('a')(href='http://ulej.by', target='_blank').link.website-link Ulej.by
					+b('span').divider &nbsp;/  !{''}
					+b('span').caption ООО&nbsp;“Хайв&nbsp;Проджект” 220030, г.Минск !{''}
					+b('span').caption.footer__address ул.&nbsp;Ленина, д.&nbsp;50, 3-й&nbsp;этаж, офис&nbsp;1
					+e.agreement
						+b('a')(href='http://ulej.by/agreement', target='_blank').link Пользовательское соглашение
				+col().footer__contact-col
					+e.phones
						+e.phone
							+e('a')(href='tel:+375291323123').phone-link +375 (29) 132 31 23
					+e.social
						+e.social-row-1
							+icon('honeycomb-30').honeycomb-30.honeycomb-order-1
							+icon('honeycomb-30').honeycomb-20.honeycomb-order-2
						+e.social-row-2
							+icon('honeycomb-30').honeycomb-10.honeycomb-order-3
							+icon('honeycomb-30').honeycomb-60.honeycomb-order-4
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='32', height='36', preserveaspectratio='xMidYMid', viewbox='0 0 32 36').honeycomb-vk.honeycomb-order-5
								a(xlink:href='https://vk.com/ulejby', target='_blank')
									path(fill='currentColor', d='M28.87 7.798l-10.743-6.22c-1.316-.764-2.94-.764-4.256 0L3.13 7.798C1.81 8.56 1 9.97 1 11.495v12.442c0 1.526.81 2.935 2.128 3.698l10.743 6.22c1.32.764 2.94.764 4.26 0l10.745-6.22c1.318-.763 2.13-2.172 2.13-3.698v-12.44c0-1.527-.81-2.936-2.13-3.7h-.004z')
									path(fill='#FFF', d='M21.303 17.91c-.465-.52-1.083-.866-1.855-1.034v-.07c.537-.233.958-.597 1.263-1.092.31-.494.46-1.06.46-1.693 0-.54-.11-1.03-.33-1.45-.22-.41-.55-.75-1-1-.41-.23-.86-.38-1.33-.46-.47-.07-1.17-.11-2.09-.11H12v13h5.004c.868 0 1.583-.08 2.145-.24.56-.16 1.07-.43 1.55-.82.39-.32.71-.72.94-1.21.23-.485.35-1.052.35-1.7 0-.883-.235-1.59-.7-2.11zm-6.18-4.527h.22c.56 0 .98.005 1.262.013.283.01.528.06.735.153.22.09.38.25.483.48.103.22.155.43.155.64 0 .28-.048.53-.142.75-.096.21-.27.38-.52.51-.23.11-.453.17-.668.18-.216.01-.592.012-1.13.012h-.394v-2.75zM18.57 20.8c-.13.247-.34.435-.625.563-.325.146-.644.224-.957.236-.314.01-.88.01-1.696.01h-.168v-3.25h.58c.56 0 1.005 0 1.338.01.333.01.595.05.785.124.314.115.548.287.705.514.157.227.236.54.236.942 0 .315-.066.596-.198.843z')
							+icon('honeycomb-30').honeycomb-50.honeycomb-order-6
							+icon('honeycomb-30').honeycomb-30.honeycomb-order-7
						+e.social-row-3
							+icon('honeycomb-30').honeycomb-10.honeycomb-order-8
							+icon('honeycomb-30').honeycomb-20.honeycomb-order-9
							+icon('honeycomb-30').honeycomb-30.honeycomb-order-10
							+icon('honeycomb-30').honeycomb-50.honeycomb-order-11
							svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='32', height='36', preserveaspectratio='xMidYMid', viewbox='0 0 32 36').honeycomb-fb.honeycomb-order-12
								a(xlink:href='https://www.facebook.com/ulejby', target='_blank')
									path(fill='currentColor', d='M28.87 7.798l-10.743-6.22c-1.316-.764-2.94-.764-4.256 0L3.13 7.798C1.81 8.56 1 9.97 1 11.495v12.442c0 1.526.81 2.935 2.128 3.698l10.743 6.22c1.32.764 2.94.764 4.26 0l10.745-6.22c1.318-.763 2.13-2.172 2.13-3.698v-12.44c0-1.527-.81-2.936-2.13-3.7h-.004z')
									path(fill='#FFF', d='M17.192 26v-7.755h2.36l.352-3.022h-2.712v-1.93c0-.874.22-1.47 1.357-1.47H20V9.118C19.75 9.08 18.887 9 17.885 9c-2.09 0-3.52 1.408-3.52 3.994v2.23H12v3.02h2.365V26h2.827z')
							+icon('honeycomb-30').honeycomb-60.honeycomb-order-13
				+col().footer__partner-col
					+e('a')(href='http://belgazprombank.by/', target='_blank').partner-logo-wrap
						+icon('belgazprombank').footer__partner-logo
					+b.footer__partner-text
						| Официальный партнер
