.history
	background 	url(../images/grayish-blue_bg_pattern-unoptimised.jpg) center top repeat,
							#4e5062


	padding-bottom 80px
	&__inner
		position relative
		padding-top 70px
		+mobile()
			padding-top 40px

	+mobile()
		padding-bottom 40px

	&__heading
		margin-bottom 70px
		font-weight light
		text-align center
		color #E6E7F2
		+mobile()
			margin-bottom 25px

	&__stories-cards
	&__stories-text
		font-size 0

		margin-x auto

	&__story-card-wrap
		text-align center


	&__stories-cards
		width 1030px
		padding-x 20px
		+below(1060px)
			width 100%
			padding-x 0

		.slick-track
			padding-bottom 30px


	&__stories-text
		width 950px
		margin-top 20px
		white-space nowrap
		overflow hidden
		+below(1000px)
			width 100%
		+below(720px)
			&.slick-slider
				display none

.story-card
	width 290px
	min-height 450px
	background-color #FFF
	border-radius 3px
	display inline-block
	text-align center
	position relative
	margin-x 20px
	cursor pointer
	transition transform .2s ease-in
	+mobile()
		margin-x 15px

	&:hover
		transform translateY(20px)
		+mobile()
			transform translateY(0)

	.slick-current &
		transform translateY(20px)
		+mobile()
			transform translateY(0)
		&:after
			content ''
			position absolute
			bottom -11px
			left 50%
			margin-left -11px
			width 0
			height 0
			border-style solid
			border-width 11px 11px 0 11px
			border-color #FFF transparent transparent transparent

	&__head
		padding-top 20px
		height 72px
	&__title
		font-size 18px
		font-weight semibold
		color #333
		font-family openSans
		small
			display block
			margin-top 8px
			color #4E4E4E
			font-weight regular
			font-size 12px
	&__img-wrap
		width 100%
		// padding-bottom 100%
		height 200px
		position relative
	&__img
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		max-width 100%
		max-height 100%
		margin auto
		transform translateZ(0)

	&__price
		display block
		font-weight semibold
		font-size 16px
		color #333
		background-color #F6F6F6
		padding-top 20px
		padding-bottom 46px

	&__author-img-wrap
		display block
		width 60px
		height 60px
		overflow hidden
		border-radius 50%
		margin -30px auto 0
		img
			width 60px
			height 60px
	&__author-name
		font-size 14px
		font-weight semibold
		color #333
		display block
		margin-top 20px

.story
	color #E3E5F7
	padding 30px 75px
	font-size 16px
	font-weight light
	line-height 24px
	text-align center
	background-color rgba(0,0,0,.1)
	white-space normal
	border-radius 3px
	display inline-block
	position relative
	&:before
		content ''
		retinaSprite $ldquot_group
		position absolute
		top 50%
		margin-top -10px
		left 25px
	&:after
		content ''
		retinaSprite $rdquot_group
		position absolute
		top 50%
		margin-top -10px
		right 25px
	&__more-link
		color #A6ABDB
		font-size 16px
		text-decoration none
		margin-left 10px
		&:hover
			text-decoration underline

.slick-dots
	text-align center
	font-size 0
	margin-top 20px
	li
		display inline-block
		button
			border-radius 50%
			width 8px
			height 8px
			background-color rgba(0,0,0,.3)
			border none


		& + li
			margin-left 8px

		&.slick-active
			button
				background-color #06b7c5



.slick-slider
	position relative
	display block
	box-sizing border-box
	user-select none
	touch-callout none
	touch-action pan-y
	tap-highlight-color transparent

.slick-list
	position relative
	display block
	overflow hidden
	margin 0
	padding 0
	&:focus
		outline none
	&.dragging
		cursor pointer
		cursor hand

.slick-slider .slick-track,
.slick-slider .slick-list
	transform translate3d(0, 0, 0)

.slick-track
	position relative
	top 0
	left 0
	display block
	&:after
		clear both

.slick-track:before,
.slick-track:after
	display table
	content ''

.slick-loading
	.slick-track
		visibility hidden
	.slick-slide
		visibility hidden

.slick-slide
	display none
	float left
	height 100%
	min-height 1px
	img
		display block
	&.slick-loading
		img
			display none
	&.dragging
		img
			pointer-events none

[dir='rtl']
	.slick-slide
		float right

.slick-initialized
	.slick-slide
		display block

.slick-vertical
	.slick-slide
		display block
		height auto
		border 1px solid transparent
	.slick-prev
	.slick-next
		background none
		margin-top auto
		width 120px

	.slick-prev
		top -50px
		left auto
	.slick-next
		right auto
		bottom -50px

.slick-arrow
	&.slick-hidden
		display none

.bottom-left-hexagon
	position absolute
	retinaSprite $bottom_left_hexagon_group
	left 75px
	top -90px
	+mobile()
		display none

.project-hexagon
	position absolute
	retinaSprite $project_hexagon_group
	right 64px
	top -54px
	+mobile()
		display none

