include ../button/button

mixin projects()
	+b('section').projects
		+e('section').tiles
			+e.tiles-row.tiles-row-1
				- var n = 0
				while n < 7
					+tile({count:n})
					- n++
			+e.tiles-row.tiles-row-2
				- var n = 0
				while n < 7
					+tile({count:n})
					- n++
			+e.tiles-row.tiles-row-3
				- var n = 0
				while n < 4
					+tile({count:n})
					- n++
			+e.tiles-row.tiles-row-4
				- var n = 0
				while n < 4
					+tile({count:n})
					- n++
		+e('section').promo
			+e.text
				| Ваши проекты и
				br
				| идеи уже сейчас могут
				br
				| получить финансирование
			+e.button-wrap
				+button().btn--green
					| Заявить о себе
					+icon('mail').mail-icon


mixin tile(args)
	+b.tile(class='tile-'+args.count)
		svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveaspectratio='xMidYMid', clip-path='url(#clipping-tile)', viewbox='0 0 208 226').tile-element
			a(xlink:href='https://vk.com/ulejby', target='_blank')
				image(width='507', height='507', x='-130', y='-130' xlink:href='./assets/images/tile-baking.jpg')
				rect(fill='#503012', width='208', height='226' opacity='.7').tile-element__fill
				text(fill='currentColor', x='50%', y='50%', dy='0').tile-element__text
					| ДЕЛАЙ МЕЧТУ
				text(fill='currentColor', x='50%', y='50%', dy='1.2em').tile-element__text
					| СВОИМИ РУКАМИ
				path(fill='currentColor', transform='translate(94,175)', d='M11.227 6.58l6.364 5.093c-.23.202-.54.327-.882.327H1.294c-.344 0-.656-.124-.888-.325L6.773 6.58 9 8.4l2.227-1.82zM9 7.2L.41.327C.64.125.95 0 1.293 0h15.412c.344 0 .656.123.888.325L9 7.2zm9 3.823l-6.213-4.928L18 1.05v9.973zm-18 0v-9.97l6.213 5.042L0 11.023z').tile-element__mail
