.projects

	// width 1809px
	// height 817px

	position relative
	padding-top 80px
	overflow visible
	overflow-x hidden


	&:before
		content ''
		position absolute
		height 1px
		left 50%
		width 1000px
		margin-left -500px
		top -1px
		background-image linear-gradient( 0deg, rgba(204,204,204,0.5) 0%, rgb(204,204,204) 50%, rgba(204,204,204,0.5) 100%)

	&__inner
		height 817px
		position relative

	&__promo
		position absolute
		right 0
		bottom 0
		width 50%
		padding-right 60px
		padding-bottom 160px
		text-align right

	&__text
		color #171717
		font-size 24px
		line-height 40px
		font-weight bold
		margin-bottom 36px
		text-align right

	&__tiles-row
		font-size 0
		position relative
		overflow visible

	&__tiles
		position absolute
		left -380px
		white-space nowrap

.tiles-row
	&-1
		margin-left 315px
	&-2
		margin-left 211px
		top -40px
	&-3
		margin-left 106px
		top -80px
	&-4
		top -120px

.projects-top-hexagon
	retinaSprite $projects_top_hexagon_group
	position absolute
	top -58px
	left 159px

.projects-right-hexagon
	retinaSprite $projects_right_hexagon_group
	position absolute
	top 40px
	right 60px

.mail-icon
	width 18px
	height 12px
	margin-left 6px



.tile
	width 200px
	height 216px

	display inline-block
	vertical-align top

	overflow hidden

	& + &
		margin-left 10px

	&-element
		color #FFF
		// clip-path polygon(50% 0%, 165% 25%, 100% 75%, 50% 100%, 0% 165%, 0% 25%)
		// mask url(#masking)
		// box-shadow 0px 2px 4px 0px rgba(0, 0, 0, 0.22)
		clip-path url(#clipping-tile)
		// clip-path polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
		a
			color #FFF
		&__fill
		&__text
		&__mail
			display none

		&__text
			text-anchor middle
			font-size 20px
			font-weight bold
			font-family robotoCond

		&:hover
			cursor pointer
			.tile-element__fill
			.tile-element__text
			.tile-element__mail
				display block
