mixin icon(iconName)
	+b('svg')(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')&attributes(attributes)
		use(xlink:href='./assets/images/icon.svg#icon_#{iconName}')

mixin link-icon(iconName,href)
	+b('svg')(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')&attributes(attributes)
		a(xlink:href=href, target='_blank')
			use(xlink:href='./assets/images/icon.svg#icon_#{iconName}')
